@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body{
   background-color: #333;
   font-family: "poppins" ,sans-serif;
  }


  .container{
    width: 100vw;
    height: 100vh;
    max-width: 1280px;
    min-height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
   }


   .card {
    width: 300px;
    height: 380px;
    background-color:#808080 ;
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: backgroud 0.8s;
   }

   .border {
    width: 290px;
    height: 370px;
    background: transparent;
    border: radius 10px;
    position: relative;
    transition: border 1s;

   }

 .icons {
    position: absolute;
    color: #fff;
    fill: #fff;
    width: 50px;
    height: 130px;
    top: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   }

   h2 {
    font-family: 'poppins', sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 1;

   }

   .card0 {
    background: url(1.jpg) center center no-repeat;
    background-size: 300px;

   }

   .card0 :hover{
    background: url(1.jpg) top center no-repeat;
    background-size: 600px;

   }

   .card0 :hover h2{
    opacity: 1;
   }
   .card0 :hover fa{
    opacity: 1;
   }
/* rajouter des cartes */

.card1 {
    background: url(2.jpg) center center no-repeat;
    background-size: 300px;

   }

   .card1 :hover{
    background: url(2.jpg) top center no-repeat;
    background-size: 600px;

   }

   .card1 :hover h2{
    opacity: 1;
   }
   .card1 :hover fa{
    opacity: 1;
   }
/* rajouter des cartes */

.card2 {
    background: url(3.jpg) center center no-repeat;
    background-size: 300px;

   }

   .card2 :hover{
    background: url(3.jpg) left center no-repeat;
    background-size: 600px;

   }

   .card2 :hover h2{
    opacity: 1;
   }
   .card2 :hover fa{
    opacity: 1;
   }
/* rajouter des cartes */

.card3 {
    background: url(4.jpg) center center no-repeat;
    background-size: 300px;

   }

   .card3 :hover{
    background: url(4.jpg) left center no-repeat;
    background-size: 600px;

   }

   .card3 :hover h2{
    opacity: 1;
   }
   .card3 :hover fa{
    opacity: 1;
   }
/* rajouter des cartes */

.card4 {
    background: url(5.jpg) center center no-repeat;
    background-size: 300px;

   }

   .card4 :hover{
    background: url(5.jpg) top center no-repeat;
    background-size: 600px;

   }

   .card4 :hover h2{
    opacity: 1;
   }
   .card4 :hover fa{
    opacity: 1;
   }
   
/* rajouter des cartes */

.card5 {
    background: url(6.jpg) center center no-repeat;
    background-size: 300px;

   }

   .card5 :hover{
    background: url(6.jpg) top center no-repeat;
    background-size: 600px;

   }

   .card5 :hover h2{
    opacity: 1;
   }
   .card5 :hover fa{
    opacity: 1;
   }
   /* rajouter des cartes */

.card6 {
    background: url(7.jpg) center center no-repeat;
    background-size: 300px;

   }

   .card6 :hover{
    background: url(7.jpg) left center no-repeat;
    background-size: 600px;

   }

   .card6 :hover h2{
    opacity: 1;
   }
   .card6 :hover fa{
    opacity: 1;
   }
   